    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@200;300;400;500;600;700;800&display=swap');

    :root{
        --header-height: 5rem;

        --main-color: #ff7101;
        --black-color: #171717;
        --white-color: #ffffff;

        --font-body:'Poppins', sans-serif;
        --font-title:'Raleway', sans-serif;

        --big-font-size:3.5rem;
        --h1-font-size:2.25rem;
        --h2-font-size:1.5rem;
        --h3-font-size:1.25rem;
        --normal-font-size:1rem;
    }

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style: none;
        border: none;
        outline: none;
        text-decoration: none;

    }
    html{
        scroll-behavior: smooth;
    }
    body{
        font-family: var(--font-body);
        font-size: var(--normal-font-size);
        color: var(--black-color);
        position: relative;
        overflow-x: hidden;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    .btn{
        display: inline-block;
        font-family:var(--font-title);
        border: 1px solid var(--white-color);
        padding: 1rem 1.5rem;
        color: var(--white-color);
        font-size: var(--h2-font-size);
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
    }
    .btn:hover{
        color: var(--white-color);
        background-color: var(--main-color);
        border-color: var(--main-color);
    }

    .header{
        width: 100%;
        background-color: black;
        padding: 1rem 1.25rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }
    .header-shadow{
        background-color: rgba(0,0,0,0.8);
    }
    .header-container{
        max-width: 1300px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        display: flex;
        align-items: center;
        color: var(--white-color);
        font-size: var(--h1-font-size);
        text-transform: uppercase;
    }
    .logo i{
        font-size: var(--h1-font-size);
        transform: rotate(45deg);
        color: var(--main-color);
    }
    .logo span{
        font-weight: 200;
        color: var(--main-color);
        margin-left: 5px;
    }
    .nav-menu{
        display: flex;
        align-items: center;
    }
    .nav-menu li{
        margin-left: 1rem;
    }
    .nav-link{
        font-size: var(--h3-font-size);
        font-weight: 300;
        text-transform: uppercase;
        color: var(--white-color);
        padding-bottom: 0.5rem;
        transition: all 0.4s ease-in-out;
    }
    .nav-link:hover, .active{
        border-bottom: 2px solid var(--main-color);
    }
    .nav-toogle{
        display: none;
    }



    .home{
        padding: 0;
    }
    .home .slide{
        width:100%;
        height: 110vh;
        background-size: cover !important;
        background-position: center !important;
        padding: 2rem 9%;
        display: flex;
        align-items: center;
        clip-path: polygon(50% 0%, 100% 0, 100% 85%, 0 100%, 0 0);
    }

    .home .slide .content{
        width: 60rem;
        transform: translateY(-5rem);
    }
    .section-title{
        position: relative;
        font-size: var(--big-font-size);
        margin: 1rem 0;
        color: var(--white-color);
        text-transform: uppercase;
    }
    .section-title::after{
        content: '';
        position: absolute;
        top: 0;
        left: -20px;
        background: url(title-bg.png) no-repeat;
        background-position: center;
        background-size: cover;
        width: 130px;
        height: 130px;
        z-index: -1;
    }
    .section-header{
        font-size: var(--h2-font-size);
        font-family: var(--font-title);
        font-weight: 300;
        text-transform: uppercase;
        color: var(--white-color);
        margin-top: -20px;
        z-index: 1;
    }
    .home p{
        color: var(--white-color);
        font-family: var(--font-title);
        font-size: var(--h2-font-size);
        padding: 2rem 0;

    }
    .swiper-pagination-bullet{
        height: 1rem !important;
        width: 1rem !important;
        background-color: var(--white-color) !important;
        transform: translateY(-7rem) !important;
    }
    .swiper-pagination-bullet-active{
        background-color: var(--main-color) !important;
    }


    .about{
        min-height: 100vh;
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
    .about-container .left{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        height: 80vh;
    }
    .about-container .left img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .about-container .left img:first-child{
        transform: translateY(-40px);
        filter: grayscale(70%);
    }
    .about-container .right{
        padding: 0 2rem;
    }
    .about-container .right h1 {
        color: var(--black-color);
    }
    .about-container .right h3 {
        color: var(--black-color);
    }
    .about-container .right p {
        margin-top: 3rem;
        line-height: 1.6;
        font-size: var(--h3-font-size);
        font-weight: 400;
    }
    .about-container .right .btn{
        margin: 3rem 0;
        color: var(--black-color);
        border-color: var(--main-color);
    }
    .about-container .right .btn:hover{
        color: var(--black-color);
    }

    .courses-container{
        width: 100%;
        min-height: 50vh;
        background: url(courses.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        clip-path:polygon(50% 0%, 100% 0, 100% 95%, 0 100%, 0 0); 
    }
    .courses-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--header-height) 3rem;
    }
    .courses-content .section-title{
        color: var(--white-color);
    }
    .courses-box{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 3rem;
    }
    .courses-box .box{
        width: 300x;
        height: 200px;
        margin: 10px;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        overflow: hidden;

    }
    .courses-box .box img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .courses-box .box .info{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0);
        width: 100%;
        height: 100%;
        background-color: rgba(255, 71, 1, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .courses-box .box:hover .info{
        transform: translate(-50%,-50%) scale(1);

    }
    .courses-box .box .info h3{
        text-transform: capitalize;
        font-size: 2rem;
        color: var(--white-color);
        margin-bottom: 1.2rem;
    }
    .courses-box .box .info .btn{
        padding: 10px;

    }

    .trainer{
        max-width: 1200px;
        margin: 0 auto;
        padding: var(--header-height) 3 rem;
    }
    .trainer-container{
        width: 100%;
        min-height: 100vh;
    }
    .trainer-container h1{
        color: var(--black-color);
    }
    .trainer-container h3{
        color: var(--black-color);
    }
    .trainer-container p{
        font-size: var(--h3-font-size);
        font-weight: 300;
        padding-top: 2rem;
    }
    .trainer-box{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 3rem;
    }
    .trainer-box .trainer-img{
        width: 300px;
        height: 480px;
        margin-left: 0rem;
        margin-bottom: 7rem;
        position: relative;
        cursor: pointer;
    }
    .trainer-box .trainer-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .trainer-box .trainer-img::after{
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        width: 100px;
        height: 100px;
        background-color: var(--main-color);
        z-index: -1;
    }
    .trainer-box .trainer-img::before{
        content: '';
        position: absolute;
        bottom: -10px;
        right: -10px;
        width: 100px;
        height: 100px;
        background-color: var(--main-color);
        z-index: -1;
    }
    .trainer-box .trainer-img .inner{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: rgba(255, 71, 1, 0.5);
        opacity: 0;
    }
    .trainer-box .trainer-img:hover .inner{
        opacity: 1;
    }
    .trainer-box.trainer-img .inner a{
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .trainer-box .trainer-img .inner a i{
        font-size: var(--h1-font-size);
        background-color: var(--white-color);
        padding: 1rem;
        color: var(--main-color);
        border-radius: 50%;
    }
    .trainer-box .trainer-img h1{
        color: var(--main-color);
        text-transform: uppercase;
        font-size: var(--h2-font-size);
        font-weight: 700;
        padding-top: 1rem;
        text-align: center;
    }
    .trainer-box .trainer-img p{
        text-align: center;
        font-size: var(--h3-font-size);
        text-transform: capitalize;
        font-weight: 300;
        margin-top: -1.5rem;

    }

    .video{
        display: flex;
        justify-content: center;
        min-height: 50vh;
        width: 100%;
        position: relative;
        overflow: hidden;
        background: url(video.jpg) no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        background-attachment: fixed;
    }
    .video-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .video-content i{
        font-size: var(--big-font-size);
        color: var(--white-color);
        background-color: var(--main-color);
        padding: 1rem;
        border-radius: 50%;
    }
    .video-content h1{
        font-size: var(--h1-font-size);
        padding: 1rem 0;
        color: var(--white-color);
        text-transform: var(--white-color);

    }

    .time-container{
        width: 100%;
        min-height: 60vh;
    }
    .time-text{
        max-width: 1200px;
        margin: 0 auto;
        padding: var(--header-height) 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;
    }
    .time-text .left .section-title{
        color: var(--black-color);
    }
    .time-text .left .section-header{
        color: var(--black-color);
        margin-bottom: 3rem;
    }
    .time-text .left p{
        font-size: var(--h3-font-size);
        font-weight: 400;
        text-transform: capitalize;
    }
    .time-text .right .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
        color: var(--main-color);
        border-color: var(--black-color);
        font-size: var(--h2-font-size);
        padding: 10px 50px;
    }
    .time-text .right .btn:hover,
    .time-text .right .actv-btn
    {
        background-color: var(--main-color);
        color: var(--white-color);
        border-color: var(--main-color);
    }
    .time-imgs .slide{
        text-align: center;
        margin-bottom: 2rem;
    }
    .time-imgs .slide img{
        height: 280px;
        width: 100%;
        object-fit: cover;
        filter: grayscale(50%);
        margin: 0;
    }
    .time-imgs .slide img:hover{
        filter: grayscale(0);
    }

    .footer{
        width: 100%;
        background: url(footer.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .footer .footer-container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 70vh;
    }
    .footer .footer-container .logo{
        padding-top: var(--header-height);
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    .footer .footer-container .logo span{
        font-weight: 700;
    }
    .footer .footer-container .logo i{
        display: none;
    }
    .footer ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        margin-bottom: 3rem;
    }
    .footer ul::after{
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--main-color);
    }
    .footer ul::before{
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--main-color);
    }
    .footer ul li{
        margin-left: 1rem;
    }
    .footer ul li a{
        color: var(--white-color);
        font-size: var(--h3-font-size);
        text-transform: uppercase;
        padding: 1rem;
    }
    .footer .search-form{
        width: 25rem;
        height: 3rem;
        display: flex;
        border: 2px solid var(--white-color);
        align-items: center;
    }
    .footer .search-form input{
        height: 100%;
        width: 100%;
        background-color: transparent;
        color: var(--white-color);
        font-size: var(--h3-font-size);
        padding: 1rem;
    }
    .footer .search-form label{
        cursor: pointer;
        font-size: 1.8rem;
        margin-right: 1.5rem;
        color: var(--main-color);
    }
    .footer .search-form label img{
        width: 25px;
        margin-top: 0.5rem;
    }
    .footer h1{
        font-size: var(--h1-font-size);
        margin-top: 2rem;
        color: var(--white-color);
        text-transform: capitalize;
    }
    .footer p{
        margin-top: 2rem;
        font-size: var(--h3-font-size);
        text-align: center;
        text-transform: capitalize;
        color: var(--white-color);
    }

    .up{
        position: fixed;
        bottom: 1.5rem;
        right: -5rem;
        background-color: var(--main-color);
        padding: 15px;
        border-radius: 10px;
        cursor: pointer;
        z-index: 10;
        transition: all 0.4s ease-in-out;
    }
    .up i{
        font-size: 30px;
        color: var(--white-color);
    }
    .up.show{
        right: 1.5rem;
    }


    @media (max-width:860px){
        .nav{
            width:0;
            height: 100vh;
            position: absolute;
            top: 0;
            right: 0;
            background-color: rgba(0,0,0,0.8);
            z-index: 100;
            transition: all 0.4s ease-in-out;
            padding-top: var(--header-height);
        }
        .show-menu{
            width: 60%;
        }
        .nav-menu{
            display: block;
            text-align: center;
        }
        .nav-menu li{
            width: 100%;
            padding: 1.5rem 0;
            margin-left: 0;
        }
        .nav-link{
            font-size: var(--h2-font-size);
        }
        .nav-toogle{
            display: block;
            z-index: 100;
        }
        .nav-toogle i{
            font-size: var(--big-font-size);
            color: var(--white-color);
            padding: 5px;
            border: 1px solid var(--main-color);
            border-radius: 5px;
            cursor: pointer;
        }
        .nav-toogle:hover i{
            color: var(--main-color);
        }

        .home .slide{
            clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 0);

        }
        .home .content{
            padding-left: 0;
        }
        .about .about-container{
            grid-template-columns: unset;
        }
        .about .about-container .left{
            display: none;
        }
        .courses-container{
            clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 0);
        }
        .trainer-box .trainer-img{
            margin-left: 0;
        }

        .footer .search-form{
            width: 90%;
        }
    }